name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Zig
      uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2

    - name: Check code formatting
      run: zig fmt --check .

    - name: Run tests
      run: zig build test

    - name: Build examples
      run: zig build examples
